<html>
   <head>
      <style>
         table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
          }
          table.center {
            margin-left: auto; 
            margin-right: auto;
          }
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }
          tr:nth-child(even) {
            background-color: #dddddd;
          }
          img{
            height: 50%;
            width: 50%;
          }
          .center {
            text-align: center;
          }
          .button{
            width: 20%;
            background-color: #23dad0;
            color: rgb(5, 5, 5);
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;        
         }
         div{
            text-align: center;
         }
      </style>
   </head>
   <body>
      <H1 class="center">Hello, <%= name %></H1>
      <H1 class="center">Showing <%= restaurants.length %> Restaurants</H1>
     <div><a href="/searchPage" ><button   class="button">Search Document</button></a>
      <a href="/createPage" ><button  class="button">Create Document</button></a><p></div>
      <table class="center">
         <tr>
            <th>Name:</th>
            <th>Rating Document:</th>
            <th>Update Document:</th>
            <th>Leaflet:</th>
            <th>Delete Document:</th>
         </tr>
         <% for (var restaurants of restaurants) { %>
            <tr>         
               <td><a href=/showdetails?id=<%= restaurants.restaurant_id %>><%= restaurants.name %></a></td>
               <td><a href=/ratingpage?id=<%= restaurants.restaurant_id %>>Rate</a></td>
               <td><a href=/updatepage?id=<%= restaurants.restaurant_id %>>Edit</a></td>
               <td>              
               <% if (restaurants.address.coord != null) { %>
                  <a  href=/showMap?id=<%= restaurants.restaurant_id %>>Link</a></td>
               <% }else{ %>
                  </td>
               <% } %>
               <td><a href=/delete?id=<%= restaurants.restaurant_id %>>Delete</a></td>
            </tr>
            <% }                       %>  
      </table> 
      <br>
      <h3 class="center"><a href='/logout'>Logout</a></h3>
   </body>
</html>